.active {
  padding: 20px;
  color: #4eb027 !important;
  border-radius: 7px;
  background: rgba(1, 120, 2, 0.2);
  margin-left: -10px;
  transition: 1s;
}
.card {
  background-image: url("../../assets/Img/img1.jpg");
}
.card2 {
  background-image: url("../../assets/Img/img2.png");
}
