.active {
  color: #4eb027 !important;
  background: rgba(1, 120, 2, 0.2);

}
.card {
  background-image: url("../../assets/Img/img1.jpg");
}
.card2 {
  background-image: url("../../assets/Img/img2.png");
}
